[submodule "bzip2"]
	path = bzip2
	url = ../../cpp-port/bzip2
[submodule "iconv"]
	path = iconv
	url = ../../cpp-port/iconv
[submodule "id3lib"]
	path = id3lib
	url = ../../cpp-port/id3lib
[submodule "idn"]
	path = idn
	url = ../../cpp-port/idn
[submodule "pcre"]
	path = pcre
	url = ../../cpp-port/pcre
[submodule "zlib"]
	path = zlib
	url = ../../cpp-port/zlib
[submodule "sqlite"]
	path = sqlite
	url = ../../cpp-port/sqlite
[submodule "mpg123"]
	path = mpg123
	url = ../../cpp-port/mpg123
[submodule "archive"]
	path = archive
	url = ../../cpp-port/archive
[submodule "zstd"]
	path = zstd
	url = ../../cpp-port/zstd
[submodule "pugixml"]
	path = pugixml
	url = ../../cpp-port/pugixml
	branch = main
[submodule "stb"]
	path = stb
	url = ../../cpp-port/stb
	branch = main
[submodule "minizip"]
	path = minizip
	url = ../../cpp-port/minizip
	branch = main
[submodule "openddlparser"]
	path = openddlparser
	url = ../../cpp-port/openddlparser
	branch = main
[submodule "zip"]
	path = zip
	url = ../../cpp-port/zip
	branch = main
[submodule "unac"]
	path = unac
	url = ../../cpp-port/unac
	branch = main
[submodule "tinyobjloader"]
	path = tinyobjloader
	url = ../../cpp-port/tiny-tinyobjloader
	branch = main
